 @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    width: 100%;
    display: grid;
    height: 100px;
    place-items: center;
}

nav{
    width: 100%;
    height: 10vh;
    position: fixed;
     /* position: sticky;  */
}

.nav-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;   
}

.logo span{
    color: rgb(109, 67.0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.nav-container .links{
    display: flex;
    gap: 3rem; 
    align-items: center;  
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 550;
    transform: 0.3s linear;
}


.container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
   background-color: rgb(109,67,0);
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    width: 100%;
    text-decoration: none;
    color: #11a2e2;
}

.nav-container .contact-btn{
   background-color: transparent;
   padding: 5px 20px;
   border-radius: 20px;
   border: 2px solid rgb(109,67,0);
   transition: 0.2s;
}

.nav-container .contact-btn a{
    color: #dddd; 
    transition: 0.3s;
}

.nav-container .contact-btn :hover, .nav-container .contact-btn:hover{
    background-color: rgb(155, 67, 0);
    color: white;
}
.nav-container links-a:hover{
    color: rgb(109, 67, 0);
}

section{
    width: 100%;
    height: 100vh;  
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    z-index: -1;
    width: 100%;
    margin: 100px ;
}


.main-container .image img{
    width: 90%;
    border-radius: 50px;
    animation: center;
    align-items: left;
}

.container .content{
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1,2rem + 5vw, 3rem + 5rem);
}

.content h1 span{
    color: rgb(109,67,0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem,1rem +5vw,2rem);
}

.content .typewriter span{
    color: rgb(109,67,0);
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgb(109,67,0);
    position: relative;
    transition: 0.3s linear;
}

.typewriter span::before{
    content: "Developer ";
    animation: words 15s infinite;
}

.typewriter span::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

@keyframes cursor{
    to{
        border-left: 3p solid #b74b4b;
    }
}

@keyframes words{
    0%, 33%{
    content: "Fullstack Developer "
    }
    34%, 66%{
        content: "Graphic & Web Designer";
    }
    67%, 100%{
        content: "Electrician";
    }
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
    width: 50%;
    position: sticky;
    text-align: justify;
}

.social-links img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid rgb(109,67,0);
    margin: 3px 3Spx;
    color: rgb(109, 67, 0);
    margin: 5px 10px; 
    font-size: 1.5rem;
    transition: o.2s linear;
}

.social-links img:hover{
    scale: 1.3em;
    color: white;
    background-color: rgb(109, 67.0);
    filter: drop-shadow(0 0 10px rgb(109,67,0));

}

.content button{
    width: 15%;
    height: 6vh;
    margin: 3px 3px;
    background-color: rgb(109, 67, 0);
    color: white;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s;
   
}

.content button a{
    text-decoration: none;
    color: white;
}

.content button:hover{
    scale: 1.1;
    color: white;
    background: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #6d4300;
 }

                /* PAGE SKILLS WITH RESPONSIVE  */

.skills-bar{
    width: 600px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
    margin-top: 70px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                        0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

 .bar .progress-line span{
    height: 100%;
    width: 80%;
    background: blue;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}


@keyframes animate{
    100%{
        transform: scaleX(1);

    }
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 60%;
}

.progress-line.jquery span:{
    width: 85%;
}

.progress-line.python span{
    width: 50%;
}

.progress-line.mysql span{
    width: 75%;
}

.progress-line.php span{
    width: 80%;
}

.bar .progress-line span::before{

    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
} 

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px; 
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
} 
@keyframes showText2{
    100%{
        opacity: 1;
    }

}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.jquery span::after{
    content: "85%";
}

.progress-line.python span::after{
    content: "50%";
}

.progress-line.mysql span::after{
    content: "75%";
}

.progress-line.php span::after{
    content: "80%";
}


 /* FIN PAGE SKILLS WITH RESPONSIVE */ 

/* footer*/
footer{
   width: 1000%;
   height: 100px;
  background-color: rgb(109, 67, 0);
}

.footer .links-bloc{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 80px; 
}
.footer .links-bloc a{
    text-decoration: none;
    color: white
}
.footer .links-bloc a:hover{
     color: #11a2e2;;
    border: 2px solid var(--text-color);
    background-color: var(--text-color)
}

.footer .links-bloc img{
   height: 24px;
  padding: 0 10px;
  border-radius: 5px;
  border: 10px;
}
 p{
   display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* media queries*/

@media(max-width:884px) {
    body{
        overflow-y:visible;
    }
    nav.logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg .cancel{
        display: block;
    }
    .main-container .content{
        width: 80%;
    }

    .social-links img{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        text-decoration: white; 
        
    }

  .main-container .image{
    width: 80%;
    margin-bottom: 0px;

  } 
  .contenu-footer {
        width: 320px;
        flex-wrap: wrap;
    }

    .bloc {
        width: 300%;
        margin: 30px 30px;
    }
  
     .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }
    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 50px;
        .block:nth-child(1) {
        margin-top: 0px;
    } 
    }
} 





