@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    width: 100%;
    display: grid;
    height: 100px;
    place-items: center;
} 

nav{
    width: 100%;
    height: 10vh;
    /* position: fixed; */
    position: sticky; 
}

.nav-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;   
}

.logo span{
    color: rgb(109, 67.0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.hamburg, .cancel{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-size: 2rem;
  display: none;
}

.nav-container .links{
    display: flex;
    gap: 3rem; 
    align-items: center;  
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 550;
    transform: 0.3s linear;
}


.container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
   background-color: rgb(109,67,0);
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    width: 100%;
    text-decoration: none;
    color: #11a2e2;
}

.nav-container .contact-btn{
   background-color: transparent;
   padding: 5px 20px;
   border-radius: 20px;
   border: 2px solid rgb(109,67,0);
   transition: 0.2s;
}

.nav-container .contact-btn a{
    color: #dddd; 
    transition: 0.3s;
}


.nav-container .contact-btn :hover, .nav-container .contact-btn:hover{
    background-color: rgb(155, 67, 0);
    color: white;
}
.nav-container links-a:hover{
    color: rgb(109, 67, 0);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform:translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightneness(40%)blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display:flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: rgb(109,67,0)
}


.skills-bar{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                        0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

 .bar .progress-line span{
    height: 100%;
    width: 80%;
    background: rgb(109,67,0);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}


@keyframes animate{
    100%{
        transform: scaleX(1);

    }
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 60%;
}

.progress-line.jquery span:{
    width: 85%;
}

.progress-line.python span{
    width: 50%;
}

.progress-line.mysql span{
    width: 75%;
}

.progress-line.php span{
    width: 80%;
}

.bar .progress-line span::before{

    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
} 

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px; 
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
} 
@keyframes showText2{
    100%{
        opacity: 1;
    }

}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.jquery span::after{
    content: "85%";
}

.progress-line.python span::after{
    content: "50%";
}

.progress-line.mysql span::after{
    content: "75%";
}

.progress-line.php span::after{
    content: "80%";
}


footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%; 
    height: 27vw;  
    background-color: rgb(109, 67, 0);
    color: white;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;

}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact*/
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/*services*/

.liste-services,
.liste-horaire,
.liste-media {
    list-style-type: none;

}

.liste-services li{
    padding: 2px 0;
}

.liste-services a {
    text-decoration: none;
    color: white;
}

.liste-services a:hover {
    color: #11a2e2;
}

/* medias*/
.liste-media {
    position: relative;
    right: 7px;
   
}

.liste-medias img {
    width: 40px;
    margin: 10px 10px;
    /* text-decoration: none;
    color: white;
     */

}

.liste-medias a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.footer-medias a{
     text-decoration: none;
    color: white;
}
.footer-medias a:hover{
    color: #11a2e2;
}

.footer-contact a{
     text-decoration: none;
    color: white;
}
.footer-contact a:hover{
     color: #11a2e2;
}

/* media queries*/

@media(max-width:884px) {
    body{
        overflow-y:visible;
    }
    nav.logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg .cancel{
        display: block;
    }
    .main-container .content{
        width: 80%;
    }

    .social-links img{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        text-decoration: white; 
        
    }

  .main-container .image{
    width: 80%;
    margin-bottom: 0px;

  } 
  .contenu-footer {
        width: 320px;
        flex-wrap: wrap;
    }

    .bloc {
        width: 300%;
        margin: 30px 30px;
    }
  
     .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }
    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 50px;
        .block:nth-child(1) {
        margin-top: 0px;
    } 
    }
}