 @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}


 body{
    /* width: 100%; */
    /* height: 100vh; */
    overflow: hidden;
    background: linear-gradient (to right,rgb(255,255,255), rgb(254,215,173));
} 

nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    /* position: sticky; */
}

.nav-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;   
}

.logo span{
    color: rgb(109, 67.0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.hamburg, .cancel{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-size: 2rem;
  display: none;
}

.nav-container .links{
    display: flex;
    gap: 3rem; 
    align-items: center;  
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 550;
    transform: 0.3s linear;
}


.container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
   background-color: rgb(109,67,0);
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    width: 100%;
    text-decoration: none;
    color: #11a2e2;
}

.nav-container .contact-btn{
   background-color: transparent;
   padding: 5px 20px;
   border-radius: 20px;
   border: 2px solid rgb(109,67,0);
   transition: 0.2s;
}

.nav-container .contact-btn a{
    color: #dddd; 
    transition: 0.3s;
}


.nav-container .contact-btn :hover, .nav-container .contact-btn:hover{
    background-color: rgb(155, 67, 0);
    color: white;
}
.nav-container links-a:hover{
    color: rgb(109, 67, 0);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform:translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightneness(40%)blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display:flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: rgb(109,67,0)
}



















footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
     /* width: 50%;  */
    height: 22vw;  
    background-color: rgb(109, 67, 0);
    color: white;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;

}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact*/
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/*services*/

.liste-services,
.liste-horaire,
.liste-media {
    list-style-type: none;

}

.liste-services li{
    padding: 2px 0;
}

.liste-services a {
    text-decoration: none;
    color: white;
}

.liste-services a:hover {
    color: #11a2e2;
}

/* medias*/
.liste-media {
    position: relative;
    right: 7px;
   
}

.liste-medias img {
    width: 40px;
    margin: 10px 10px;
    /* text-decoration: none;
    color: white;
     */

}

.liste-medias a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
}
